
### Vagrant ###
# General
.vagrant

# Log files (if you are creating logs in debug mode, uncomment this)
*.logs
*.log

### Vagrant Patch ###
*.box
*.retry

### .gitignore ###

roles/k8s-node/files/kubeadm_join

# End of https://www.gitignore.io/api/vagrant
